/* IMPORTAÇÃO DE FONTE */

@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

/* BODY DO INDEX.PHP */

body {
    background-color: black;
    overflow: hidden;
    background-size: cover;
}

.logo {
    width: 45px;
    height: 65px;
    margin-left: 80px;
}


/* MENU DO NAVBAR.PHP */

.nav-wrapper {
    background-color: #202020;
}

a {
    font-family: 'Bangers', cursive;
    color: rgb(255, 129, 4) !important;
    font-size: 25px;
}

ul li a {
    font-family: 'Bangers', cursive;
    color: rgb(255, 129, 4);
    font-size: 25px;
}


/* ======================== */


/* MODAL DO LOGIN */

#modal1 {
    background-color: #363636;
    width: 350px;
}

option:hover {
    background-color: #363636;
}


/* =============================== */


/* MODAL DO CADASTRO */

#modal2 {
    background-color: #363636;
    width: 400px;
}

input[type=radio] {
    user-select: none
}


/* =============================== */


/* ESTILIZAÇÃO DE INPUTS E TITULOS */

h1 {
    font-family: 'Amatic SC', cursive;
    color: rgb(255, 166, 0);
    text-align: center
}

#btnLogar {
    color: white;
    background-color: black
}

input {
    color: white
}


/* =================== */


/* CAROUSEL */

#slide {
    width: 40%;
    height: 40%;
}

.carousel {
    height: 100vh;
}


/* ============= */