body{
    background-color: rgb(71, 67, 67)
}
ul li a {
    display    : list-item;
    margin-left: 20%;
    margin-top : 20%
}

.linuxMenu {
    width           : 70px;
    height          : 100%;
    background-color: rgba(0, 0, 0, 0.397);
    
}
.LOG{
    margin-top: 55vh;
}
#m1 {
    border-radius: 5%;
    width             : 100%;
    padding           : 5px;
    background-color  : rgba(241, 140, 8, 0.397);
    -webkit-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.34);
    -moz-box-shadow   : 0px 0px 9px 5px rgba(0, 0, 0, 0.34);
    box-shadow        : 0px 0px 9px 5px rgba(0, 0, 0, 0.34);
}

#m2 {
    border-radius: 5%;
    width             : 100%;
    padding           : 5px;
    background-color  : rgba(255, 8, 8, 0.397);
    -webkit-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.34);
    -moz-box-shadow   : 0px 0px 9px 5px rgba(0, 0, 0, 0.34);
    box-shadow        : 0px 0px 9px 5px rgba(0, 0, 0, 0.34);
}

#m3 {
    border-radius: 5%;
    width             : 100%;
    padding           : 4px;
    background-color  : rgba(8, 43, 241, 0.356);
    -webkit-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.34);
    -moz-box-shadow   : 0px 0px 9px 5px rgba(0, 0, 0, 0.34);
    box-shadow        : 0px 0px 9px 5px rgba(0, 0, 0, 0.34);
}

#m4 {
    border-radius: 5%;
    width             : 100%;
    padding           : 5px;
    background-color  : rgba(255, 255, 255, 0.397);
    -webkit-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.34);
    -moz-box-shadow   : 0px 0px 9px 5px rgba(0, 0, 0, 0.34);
    box-shadow        : 0px 0px 9px 5px rgba(0, 0, 0, 0.34);
}

#img1 {
    width : 40px;
    height: 40px;
}